.TodoItem-Label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.TodoItem_completed .TodoItem-Label {
    color: #d9d9d9;
    text-decoration: line-through;
}