.TodoItem {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
}

.TodoItem:last-child {
    border-bottom: none;
}

.TodoItem label {
    word-break: break-all;
    padding: 15px 15px 15px 60px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
}

.TodoItem.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.TodoItem .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #cc9a9a;
    margin-bottom: 11px;
    transition: color 0.2s ease-out;
}

.TodoItem .destroy:hover {
    color: #af5b5e;
}

.TodoItem .destroy:after {
    content: '×';
}

.TodoItem:hover .destroy {
    display: block;
}

.TodoItem .edit {
    display: none;
}

